section{
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.releases{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.release-div{
    background: #F5F5F5;
    border: 1px solid #AEAEAE;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.releasetop{
    background: #2F2F48;
    height: 90px;
    width: 120px;
    color: #F2DFAD;
    font-size: 20px;
    padding: 10px;
}
.release-bottom{
    background: #4A4A53;
    height: 50px;
    width: 120px;
    color: #FBFBFB;
    padding: 10px;
    font-size: 10px;
}
.release-desc{
    padding: 15px;
    width: 150px;
    font-family: 'Montserrat';
}
.release-desc span{
    margin-bottom: 20px;
}
.downloadbtn{
    text-decoration: none;
    color: white;
    background: linear-gradient(49.55deg, #00CC56 13.9%, #69E8F3 90.92%);
    padding: 8px;
    border: none;
}
.scetion-hr {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #AEAEAE;
}
.content{
    text-align: center;
}
.content h1{
    font-family: 'Product Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    margin: 0;
}
.content p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 168.4%;
    width: 800px;
    
}
@media (max-width:1070px) {
    .content p{
        width: 100%;
    }
}